* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bookman Old Style", serif;
}

body {
    background-color: #202020;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Messages */
#messages-container {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 9999;
    max-width: 400px;
}

.alert {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.alert-success {
    background-color: #28a745;
    color: white;
}

.alert-error {
    background-color: #dc3545;
    color: white;
}

/* Navigation Menu - Matching Original Style */
div#menu {
    background-color: #b5600b;
    width: 100%;
    display: inline-block;
    position: fixed;
    top: 0;
    opacity: 0.8;
    z-index: 1;
}

p.menu {
    color: white;
    background-color: #b5600b;
    font-size: 18px;
    margin-top: 8px;
    margin-left: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    float: left;
    width: 50%;
}

ul.menu {
    float: right;
    font-size: 18px;
    margin-top: 3.5px;
    margin-right: 10px;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #b5600b;
}

li.menu {
    display: inline;
    background-color: #b5600b;
}

a.menu {
    text-decoration: none;
    color: white;
    background-color: #b5600b;
    padding-right: 5px;
}

img.research, img.contact, img.subscribe {
    height: 20px;
    margin-left: 10px;
    background-color: #b5600b;
}

img#burger_menu {
    z-index: 12;
    height: 20px;
    opacity: 1;
    background-color: transparent;
    position: fixed;
    top: 13px;
    right: 45px;
    cursor: pointer;
}

img#subscribe_link {
    z-index: 11;
    position: fixed;
    top: 13px;
    right: 10px;
}

/* Connection Dropdown */
div#conn_wrapper {
    position: fixed;
    z-index: 1001;
    margin-top: 45px;
    right: 5px;
    width: 200px;
    height: 0px;
    border: 1px solid #b5600b;
    background-color: #202020;
    opacity: 0;
    transition: 1s;
    box-shadow: 2px 2px 10px black;
}

div#triangle {
    position: fixed;
    opacity: 0;
    z-index: 1002;
    top: 34px;
    right: 14px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    background-color: transparent;
    border-top: 0;
    border-bottom: 11px solid #b5600b;
    transition: 1s;
}

table#conn_table {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 20em rgba(0,0,0,.5);
    transition: 1s;
}

td.conn_td {
    padding-left: 10px;
}

a.conn_link {
    text-decoration: none;
    color: white;
}

a.conn_link:hover {
    color: #b5600b;
}

/* Mobile Menu Dropdown */
div#menu_wrapper {
    opacity: 0;
    display: none;
    position: fixed;
    z-index: 1001;
    margin-top: 55px;
    right: 5px;
    width: 200px;
    height: 0px;
    border: 1px solid #b5600b;
    background-color: #202020;
    transition: height 1s;
    box-shadow: 2px 2px 10px black;
}

div#triangle_1 {
    position: fixed;
    opacity: 1;
    z-index: 10;
    top: 45px;
    right: 48px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    background-color: transparent;
    border-top: 0;
    border-bottom: 11px solid #b5600b;
    transition: 1s;
}

table#menu_table {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 20em rgba(0,0,0,.5);
    transition: 1s;
}

td.menu_1 {
    padding-left: 10px;
}

a.menu_1 {
    text-decoration: none;
    color: white;
}

a.menu_1:hover {
    color: #b5600b;
}

/* Responsive adjustments */
@media only screen and (max-width: 960px) {
    p.menu {
        width: 65%;
    }
}

@media only screen and (max-width: 600px) {
    p.menu {
        width: 70%;
    }
}

@media only screen and (max-width: 500px) {
    p.menu {
        font-size: 16px;
        width: 75%;
    }
}

/* Footer */
footer {
    text-align: center;
    font-size: 12px;
    color: white;
    background-color: #b5600b;
    margin-top: auto;
}

/* Forms */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: #202020;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    outline: 2px solid #b5600b;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #b5600b;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 2px 10px rgba(181, 96, 11, 0.3);
}

.btn:hover {
    background-color: white;
    color: #b5600b;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(181, 96, 11, 0.5);
}

/* Disable right-click */
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}